body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
    padding: 50px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text h3 {
    color: #4ea8de;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.6;
}

.hero-text button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4ea8de;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.hero-image img {
    width: 300px;
    border-radius: 10px;
}


.about {
    background-color: white;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
}

.about h2 {
    margin-bottom: 20px;
    color: #2c2c2c;
}

.about p {
    line-height: 1.6;
}

.resume-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4ea8de;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.skills {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.skills ul {
    list-style-type: square;
    padding-left: 20px;
}

.skills li {
    margin-bottom: 8px;
}

.projects {
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.project-box {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.contact {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
